.page-main__description {
    width: 285px;
    text-align: center;
    margin: 0 auto;
    margin-top: 32px;
}

.page-main__intro {
    width: 320px;
    height: 389px;
    background-image: url(../img/back-mobile.jpg);

    position: relative;
}

.page-main__intro::after {
    content: "";
    width: 282px;
    height: 214px;
    background-image: url(../img/text-index.svg);

    position: absolute;
    top: 90px;
    left: 20px;
}