.page-header {
    position: relative;
    background-color: @main-color;
}

.page-header__logo {
    margin-bottom: -28px;

    @media (min-width: @desktop-width) {
        margin-bottom: -41px;
    }
}

.page-header__logo img {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    @media (min-width: @desktop-width) {
        width: 187px;
        height: 97px;
    }
}
