.site-list {
    @media (min-width: @tablet-width) {
        display: flex;
        justify-content: space-between;
    }
}

.site-list__item {
    display: none;
    
    @media (min-width: @tablet-width) {
        display: block;
        min-width: 153px;
        text-align: center;
    }

    @media (min-width: @desktop-width) {
        min-width: 239px;
    }
}

.site-list__item:hover {
    color: #81B3D2;
}

.site-list__item--active {
    color: #766357;
}

.site-list__item--active:hover {
    color: #604E43;
}

.site-list__item:nth-child(1),
.site-list__item:nth-child(2),
.site-list__item:nth-child(4),
.site-list__item:nth-child(5) {
    @media (min-width: @tablet-width) {
        padding-top: 15px;
    }
}

.site-list__item--logo {
    display: block;

    @media (min-width: @tablet-width) {
        min-width: 156px;
    }

    @media (min-width: @desktop-width) {
        min-width: 244px;
    }
}

.site-list__item a {
    text-decoration: none;
    display: block;

    @media (min-width: @tablet-width) {
        font-size: 14px;
        line-height: 26px;
    }    
}
