.copyright__text {    
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    // margin-top: 45px;
    margin-left: 80px;
    width: 121px;
    margin-bottom: 26px;

}

.copyright__link  {
    // display: block;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    margin-bottom: 26px;

    width: 27px;
    height: 34px;
}

