@font-face {
	font-family: "PT SANS";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("PT SANS"),
	  url("../fonts/ptsans.woff") format("woff"),
	  url("../fonts/ptsans.woff2") format("woff2");

}


@font-face {
	font-family: "PT SANS";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local("PT SANS Bold"),
	  url("../fonts/ptsansbold.woff") format("woff"),
	  url("../fonts/ptsansbold.woff2") format("woff2");
}