.video__title {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.video__text {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
    padding: 0;
    width: 240px;
    margin-bottom: 33px;
}

.video img {
    display: block;
}

.video__decor {
    display: block;
    width: 280px;
    height: 66px;
    background-color: #F2F2F2;
    margin: 0 auto;

    position: relative;
}

.video__decor::before {
    content: "";
    width: 16px;
    height: 20px;
    background-image: url(../img/replay.svg);
    position: absolute;
    top: 23px;
    left: 23px;
}

// Как сделать несколько псевдоэлементов?
.video__decor::after {
    content: "";
    width: 32px;
    height: 20px;
    background-image: url(../img/subtitles.svg);
    position: absolute;
    top: 23px;
    right: 40px;
}

.video__decor::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../img/fullscreen.svg);
    position: absolute;
    top: 23px;
    right: 23px;
}